<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="example.editors.ExampleEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="example"
            icon="icons/sample.gif"
            id="joe.example"
            name="Example editor">
      </editor>
￼￼

   </extension>

</plugin>
